* {
    font-family: sans-serif;
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  

  .content-table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .jio-bg {
    background-color: blue;
  }

  .airtel-bg {
    background-color: red;
  }

  .jio-rows:hover {
    background-color: blue;
    font-weight: bold;
    color: white; }

  .airtel-rows:hover {
    background-color: red;
    font-weight: bold;
    color: white; }
  
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .jio-rows:last-of-type {
    border-bottom: 2px solid blue;
  }

  .airtel-rows:last-of-type {
    border-bottom: 2px solid red;
  }
  

  .center {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .jio-header {
    color: blue;
  }

  .airtel-header {
    color: red;
  }